@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.la {
  font-family: "Lalezar", system-ui;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

.main-head {
  font-size: clamp(4.5rem, 3.85rem + 3.25vw, 7.75rem);
}
.p-head {
  font-size: clamp(2.5rem, 2.125rem + 1.875vw, 4.375rem);
}
.s-head {
  font-size: clamp(2.625rem, 2.375rem + 1.25vw, 3.875rem);
}
.b-head {
  font-size: clamp(2rem, 1.775rem + 1.125vw, 3.125rem);
}
.t-head {
  font-size: clamp(1.625rem, 1.45rem + 0.875vw, 2.5rem);
}
.sub-head {
  font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
}
.text {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}
.sm-text {
  font-size: clamp(0.6875rem, 0.625rem + 0.3125vw, 1rem);
}
